@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");

* {
    background-color: #252323;
    font-family: "Courier Prime", monospace;
    color: white;
}

#mistakes {
    text-align: center;
    font-size: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}
#positionBox {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    background-color: #0a090c;
    color: grey;
    font-size: 2rem;
    padding: 1vw;
    border: 1px solid black;
    border-radius: 1vw;
    width: 95vw;
    margin: auto;
    height: 30vh;
}
#textBox {
    hyphens: auto;
    background-color: #0a090c;
    color: grey;
    font-size: 2rem;
}
.highlight {
    display: flex;
    background-color: #0a090c;
    hyphens: auto;
}
#onScreenKeyboard {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    background-color: gray;
}
#onScreenKeyboard > .row {
    display: flex;
    justify-content: center;
}
.key {
    flex-grow: 1;
    flex-basis: auto;
    transition: background-color 1s ease-in-out;
    text-align: center;
    border: 1px solid black;
    padding: 2vw;
}

.key.space {
    flex-grow: 20;
}
.key:hover {
    background-color: darkgray;
}
